@page
@model AppSec_Assignment.Pages.errors._405Model
@{
    ViewData["title"] = "Method Not Allowed";
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">405</h1>
    <p style="font-size: 50px; ">Method Not Allowed.</p>
    <p>The method specified in the request is not allowed for the resource identified by the request URI.</p>
</div>
