@page
@model AppSec_Assignment.Pages.errors._406Model
@{
    ViewData["title"] = "Not Acceptable";
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">406</h1>
    <p style="font-size: 50px; ">Not Acceptable.</p>
    <p>The server cannot produce a response matching the list of acceptable values defined in the request's headers.</p>
</div>
