@page
@model AppSec_Assignment.Pages.errors._504Model
@{
    ViewData["title"] = "Gateway Timeout";
}
<div class="container" style="text-align: center; color: #888;">
    <h1 style="font-size: 150px; color: #888; margin-bottom: 0px;">504</h1>
    <p style="font-size: 50px; ">Gateway Timeout.</p>
    <p>The server, while acting as a gateway or proxy, did not receive a timely response from an upstream server it needed to access in order to complete the request.</p>
</div>
